@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500&display=swap');
body {
    font-family: 'Sunflower', sans-serif !important;
    margin: 0;
    padding: 0;
}
h5 {
    margin: 0;
    padding: 30px;
    color: white;
    font-weight: 300;
}
img {
    display: block;
    margin: auto;
    position:relative;
}
.scene {
    width: 360px;
    height: 640px;
}

.scene01 {
    background-image: url('image/back01.png');
}

.scene02 {
    background-image: url('image/back02.jpg');
}

.scene03 {
    background-image: url('image/back03.png');
}

.scene04 {
    background-image: url('image/back04.jpg');
}

.scene05 {
    background-image: url('image/back05.jpg');
}

.scene06 {
    background-image: url('image/back06.jpg');
}

.scene07 {
    background-image: url('image/back07.jpg');
}

.scene08 {
    background-image: url('image/back08.jpg');
}

.scene09 {
    background-image: url('image/back09.jpg');
}

.scene10 {
    background-image: url('image/back10.jpg');
}

.scene11 {
    background-image: url('image/back11.jpg');
}

.textbox {
    display: block;
    margin: 430px 0 0 10px;
    width: 340px;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    opacity: 0.8
}
p {
    margin: 0 !important;
    padding: 20px 0 0 20px !important;
    line-height: 2px;
}
button{
    font-family: 'Sunflower', sans-serif !important;
    border-width: 0;
    background-color: transparent;
}