@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500&display=swap');
body {
    font-family: 'Sunflower', sans-serif !important;
    margin: 0;
    padding: 0;
}
h5 {
    margin: 0;
    padding: 30px;
    color: white;
    font-weight: 300;
}
img {
    display: block;
    margin: auto;
    position:relative;
}
.scene {
    background-image: url('image/hosu01.png');
    width: 360px;
    height: 640px;
}
.textbox {
    display: block;
    margin: 430px 0 0 10px;
    width: 340px;
    height: 100px;
    background-color: white;
    border-radius: 5px;
}
p {
    margin: 0 !important;
    padding: 20px 0 0 20px !important;
    line-height: 2px;
}
button{
    border-width: 0;
    background-color: transparent;
}